* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* header */
.navi {
  background-color: #199DE5;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.seytech, .seytech .fa-home{
  background-color: #076490!important;
  font-size: 18px;
  padding: 15px 16px !important;
  border: none;
  color: #fff;
  text-decoration: none;
}

a:hover  {
  color: black;
  background-color: rgb(230, 230, 224)!important;
}
.globe,
.user,
.envelope {
  color: #fff;
  padding: 30px 24px;
  width: auto;
  border: none;
  background-color: #199DE5;
  margin-left: -5px;
}
.globe:hover {
  color: black;
  background-color: rgb(255, 255, 255);
}
.user:hover{
    color: black;
    background-color: rgb(255, 255, 255);
}
.envelope:hover{
    color: black;
    background-color: rgb(255, 255, 255);     }
/* Navigation ends here */
main {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
}
.left-side{
  flex: 2;
  margin: 10px;
}
.container{
  flex: 4;
  margin: 10px;
}
.right-aside{
  flex: 1;
  margin: 10px;
}
/* Kanat style starts here */
.my-profile , .left-middle{
  box-shadow: 3px 3px 15px 2px rgb(180, 193, 206);
}
.my-profile p {
  padding-top: 10px;
  text-align: center;
  margin: 0;
}
hr {
  width: 95%;
  margin: auto;
  border: 0;
  border-top: 1px solid #eee;
}
.my-pic img {
  border-radius: 50%;
  width: 120px;
  display: block;
  margin: auto;
  padding: 15px 0px 20px 0px;
}
.personal-data i {
  color: grey;
  padding-right: 20px;
}
.personal-data {
  padding: 20px;
  padding-top: 0;
  list-style-type: none;
  line-height: 10px;
}
.my-groups button,
.my-events button,
.my-photos button {
  background-color: #199de5;
  color: #fff;
  margin-right: 50px;
  width: 100%;
  text-align: left;
}
.my-groups i,
.my-events i,
.my-photos i {
  padding-right: 20px;
}
.my-groups p,
.my-events p{
  padding-left: 20px;
}
.nature-img{
  display: inline-flex;
  flex-wrap: wrap;
}
.my-photos img{
  width:  50%;
  height: 120px;
  padding: 10px 20px;
}
/* Kanat style ends here */
/* Chopas styles start here */
.interests, .hey{
  box-shadow: 7px 6px 26px -6px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 15px;
  margin-top: 20px;
}
.interests ul li{
  list-style: none;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  font-size: 12px;
}
ul{
  padding: 0;
}
.hey{
  background-color: rgb(221, 214, 214);
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.hey i{
  color: #000;
}
.interests li:nth-child(-n+2){
  background-color: rgb(39, 67, 126);
}
.interests li:last-child{
  background-color: rgb(237, 240, 241);
}
.interests li:nth-child(n+8){
  color: black;
}
.interests li:nth-child(n+3):nth-child(-n+7){
  background-color: rgb(17, 173, 224);
}
.interests li:nth-child(n+8):nth-child(-n+9){
  background-color: rgb(146, 150, 150);
}
.interests li:nth-child(10){
  background-color: rgb(197, 194, 194);
}
.close-button{
  position:absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: rgb(197, 192, 192);
  padding: 10px 15px;
}
/* Chopas styles end here */

/* Kumar's part starts here */

.container {
  width: 50%;
  margin: 8px;
}
.my-photos img{
  width:  50%;
  height: 120px;
  padding: 10px 20px;
}
.middle-col {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 0px solid gray;
    min-height: 10em;
    box-sizing: border-box;
    clear: both;
    box-shadow: 3px 3px 15px 2px rgb(180, 193, 206);
  }
.user-content {
  display: flex;
}
.col-img {
  padding: 0 10px 0 0;
  width: 100%;
}
.user-content img {
  width: 100%;
  box-sizing: border-box;
}

.middle-col input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.avatar img {
  width: 60px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.time {
  float: right;
  opacity: 0.5;
  margin-top: 10px;
}

.clearfix {
  clear: right;
}



.middle-col button {
  
  background-color: rgb(54, 157, 229);
  color: white;
  padding: 7px 18px;
  margin-top: 20px;
  border: none;
  vertical-align: middle;
}


.fas {
  color: #fff;

  padding: 5px;
}

/* Kumar's part ends here */

/* Nazira's Part */

h3 {
  font-weight: 400;
}

.right-aside {
  width: 20%;
  margin: 10px;
  text-align: center;
  line-height: 1.5;
}

.section1,
.section2,
.section3,
.section4 {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  padding: 0.15px 16px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 15px 2px rgb(180, 193, 206);
}

button {
  display: inline-block;
  background-color: #dfe5e8;
  color: #000;
  padding: 8px 16px;
  border: none;
  /* width: 100%; */
}

button:hover {
  background-color: rgb(206, 206, 206);
}

.accept {
  background-color: #4caf50;
  color: #fff;
  margin-top: 16px;
}

.remove {
  background-color: #f44336;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
}

.accept,
.remove {
  opacity: 0.6;
}

.accept:hover {
  background-color: rgb(206, 206, 206);
  color: grey;
}

.remove:hover {
  background-color: rgb(206, 206, 206);
  color: grey;
}

.btn button {
  width: 50%;
}

.section3 {
  padding: 16px 0px;
}

.section4 {
  padding: 16px 0px;
  color: #000;
  background-color: #fff;
  margin-bottom: 30px;
}

/* Nazira's Part ends here */

.footer {
  position: relative;
  left:0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}
footer .footer-a{
  background-color: #076490;
  padding: 16px;
}
footer .footer-b,
footer .footer-b a {
  background-color: #199de5;
  padding: 13px;
  color: white;
}
